CONFIG_STATUSBAR=y
CONFIG_WORKINGSTATUS=y
CONFIG_PROTOCOL=y
CONFIG_PROTOCOL_XMODEM=y

#
# Executable support
#
CONFIG_EXEC_ELF=y
# CONFIG_EXEC_FLAT is not set
# end of Executable support

#
# Debug
#
# CONFIG_VERBOSE_PANIC is not set
# CONFIG_VERBOSE_EXCEPTIONS is not set
CONFIG_DEBUG_CONFIG=0
CONFIG_DEBUG_STORAGE_BIOS=0
CONFIG_DEBUG_FS_FAT=0
CONFIG_DEBUG_EXEC=0
CONFIG_DEBUG_EXEC_ELF=0
CONFIG_DEBUG_EXEC_MULTIBOOT=0
CONFIG_DEBUG_XMODEM=0
# end of Debug

#
# Serial
#
CONFIG_SERIAL=y
# CONFIG_USE_SERIAL is not set
CONFIG_SERIAL_FIFO_SIZE=6
CONFIG_SERIAL_BAUDRATE=115200
CONFIG_SERIAL_FLOWCONTROL_RTS=y
# CONFIG_SERIAL_FLOWCONTROL_DTR is not set
# CONFIG_SERIAL_FLOWCONTROL_NONE is not set
# end of Serial
